
*{
  font-family: 'Josefin Sans', sans-serif;
 margin-right: 0;
 margin: 0;
 padding: 0;
 padding-right: 0;
}
.uppernav{
  width:100%;
  height:10vh;
  
}
.custom-nav{
  width:60%;
  justify-content: space-around;
}
.link-nav{
  font-size: 0.9rem;
  font-weight: 600;
  
}
.link-nav2{
  font-size: 1.2rem;
}
.second-nav{
  width:20%;
  justify-content: space-around;
}


.feature-first{height:800px}

.feature-second{height:800px;
  display:flex;
  flex-wrap:wrap;
}

@media screen and (max-width:1026px){
  .featured-text{
    padding: 3% 0;
  }
  .feature-first{
    height: 800px;
  }
  .feature-second{
    height: 800px;
  }
 
   .featured-text h1{
    font-size: 1.5rem;
  }
  .featured-text h3{
    font-size: 1.2rem;
  } 
  
}
@media screen and (max-width:768px){
  .feature-first{
    height: 650px;
  }
  .feature-second{
    height: 650px;
    
  }
  
}
@media screen and (max-width:460px){
  .feature-first{
    height: 450px;
    
  }
  .feature-second{
    height: 450px;
  }
}