
*{
  font-family: 'Josefin Sans', sans-serif;
 margin-right: 0;
 margin: 0;
 padding: 0;
 padding-right: 0;
}
.uppernav{
  width:100%;
  height:10vh;
  
}
.custom-nav{
  width:60%;
  justify-content: space-around;
}
.link-nav{
  font-size: 0.9rem;
  font-weight: 600;
  
}
.link-nav2{
  font-size: 1.2rem;
}
.second-nav{
  width:20%;
  justify-content: space-around;
}





@media screen and (max-width:908px){
  .featured-text{
    padding: 3% 0;
  }
   .featured-text h1{
    font-size: 1.5rem;
  }
  .featured-text h3{
    font-size: 1.2rem;
  } 
  
}
